<!DOCTYPE html>
<html>
	<head>
		<title>Clatter's blog</title>
	</head>
	<body>
		<div>
			<h1 style="color: rgb(90,90,90);">! <b>Mc's FrenchFries</b> is ALRIGHT !</h1>
		</div>

		<div>
			<p>published: 24.03.2017, 12:00</p>	
			<h2><a href="">post1. My first post</a></h2>
			<p>No-no ! \ㅇ-ㅇ/ Hug me, please</p>
		</div>

		<div>
			<p>published: 24.03.2017, 12:10</p>
			<h2><a href="">post2. ssro... I'm hungry and want to drink salmon...</a></h2>
			<p>arng. very arng. and I want No-no..</p>
		</div>
	</body>
</html>